@import '../../../scss/variables';
@import '../../../scss/mixins';

.ButtonForm {
    width: 100%;
    padding: 1.5em;

    &-togglerContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }

    &-radioInput {
        display: none;

        &:checked + .ButtonForm-toggleButton {
            border: 5px solid white;
            padding: calc(1.5em - 5px);
        }    
    }

    &-toggleButton {
        @include flexCenter;
        padding: 1.5em;
        width: 20em;
        min-height: 6.6em;
        background-color: $color-tertiary-red;
        font-weight: bold;
        border-radius: $border-radius-basic;

        &:hover {
            cursor: pointer;
        }
    }

    &-toggleButtonParagraph {
        font-size: 1.5em;
    }

    &-sectionTitle {
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: .5em;
    }

    &-section {
        background-color: $color-tertiary-red;
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }

    &-labelText {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: .5em;
    }

    &-inlineInputDiv {
        margin-top: .6em;
        display: flex;
        align-items: center;
        margin-left: 2em;
        
    }

    &-textInlineInput,
    &-numberInlineInput,
    &-colorInput {
        font-size: 1.5em;
        padding: 2px;
    }

    &-textInlineInput {
        width: 6.5em;
    }

    &-numberInlineInput {
        width: 4em;
    }

    &-galleryContainer {
        margin-top: 1.5em;
        border-radius: $border-radius-basic;
        padding: 2em 1em;
    }

    &-galleryDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 10em;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2em;
    }

    &-optionDivLabel {
        width: 100%;
        height: 100%;
    }
    
    &-optionDiv {
        width: 100%;
        height: 100%;
        @include flexCenter;
        border: 4px white solid;
        border-radius: $border-radius-basic;
        position: relative;

        &:hover {
            cursor: pointer;
            
            border: 4px white solid;
        }
    }

    &-optionRadioInput {
        display: none;

        &:checked + .ButtonForm-customInnerRadioInput {
            display: block;
        }
    }

    &-customOuterRadioInput {
        border: 3px solid white;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(50% + 2px));
        z-index: 10;

        &:hover {
            cursor: pointer;
        }
    }

    &-customInnerRadioInput {
        background-color: white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(50% + 2px));
        z-index: 11;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &-customRadioInputBackground {
        background-color: $color-secondary-red;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(50% + 2px));
        z-index: 9;
    }

    &-checkboxInput {
        margin-right: .5em;
        height: 1.2em;
        width: 1.2em;

        &:hover {
            cursor: pointer;
        }
    }
}