@import '../../scss/mixins';
@import '../../scss/variables';

.FirstPhaseMain {
    background-color: blanchedalmond;
    width: 85%;
    height: 80vh;
    min-height: 42em;
    border-radius: $border-radius-basic;
    padding: 1em;
    @include flexCenter;
    margin: 3em;

    &-composition {
        flex: 1;
        height: 100%;
        min-height: 40em;
        @include flexCenter;

        &__background {
            background-color: white;
            width: 85%;
            height: 100%;
        }
    }

    &-settings {
        flex: 0 0 50%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}