@import '../../scss/mixins';
@import '../../scss/variables';

.DummyField {    
    &-textInputDiv {
        margin-top: 1em;
        position: relative;
        min-height: 6.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover > .DummyField-fieldControls {
            opacity: 1;
        }
    }

    &-selectInputDiv {
        margin-top: 1em;
        position: relative;
        min-height: 6.8em;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:hover > .DummyField-fieldControls {
            opacity: 1;
        }
    }

    &-fieldControls {
        @include flexCenter;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-height: 6.8em;
        filter: invert(100%);
        min-height: 6.7em;
        padding: .3em 1em;
        border-radius: $border-radius-basic;
        opacity: 0;
        transition: .2s linear;
    }

    &-deleteDiv {
        @include flexCenter;
        margin-right: 1em;
    }

    &-arrowsDiv {
        @include flexCenterColumn;
    }

    &-controlsButton {
        background-color: transparent;
        border: none;
        @include flexCenter;
        border-radius: $border-radius-basic;
        padding: 0.1em;
        outline: none;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }

        &:active {
            transform: translateY(.2em) scale(1.2);
        }
    }

    &-textInput {
        padding: .2em;
        min-height: 15px;
    }

    &-selectInput {
        @include flexSpaceBetween;
        padding: .2em;
        margin-left: .5em;
        position: relative;
        min-height: 2em;

        &:hover .DummyField-optionsDiv {
            opacity: 1;
            z-index: 1;
        }
    }

    &-selectArrowDiv{
        @include flexCenter;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        min-width: 2em;
    }

    &-optionsDiv {
        position: absolute;
        top: 100%;
        left: -0.1em;
        min-height: 2em;
        opacity: 0;
        z-index: -1;
    }
    
    &-optionsList {
        list-style: none;
        padding: 0.2em;
    }
}