@import '../../scss/variables';
@import '../../scss//animations';

.MainButton {
    //background-color: $color-primary-red;
    //color: white;
    border: none;
    border-radius: $border-radius-basic;
    position: relative;
    z-index: 2;
    transition: all .2s;
    font-size: inherit;

    &-text {
        font-family: 'Bangers', cursive;
        letter-spacing: 2px;
        font-size: 2em;
    }

    &-buttonDiv {
        animation-name: mainButton;
        animation-duration: 1.4s;
        position: relative;
    }
    
    &-background {
        //background-color: black;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(1em);
        border-radius: $border-radius-basic;
        width: 100%;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(.3em);
    }

    &:active {
        transform: translateY(1em);
    }
}

.MainButton-big {
    width: 16em;
    height: 5em;
    padding: 1em 2em;

    &__background {
        width: 16em;
        height: 5em;
    }
}

.MainButton-small {
    width: 8em;
    height: 3em;
    //padding: .5em 1em;
    &__background {
        width: 8em;
        height: 3em;
    }
}

