@import '../../scss/variables';
@import '../../scss/mixins';

.FinalFormContainer {
    background-color: blanchedalmond;
    width: 85%;
    min-height: 70vh;
    //min-height: 42em;
    border-radius: $border-radius-basic;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 3em;
    padding: 3em;

    &-buttonDiv {
        flex: 0 0 10%;
        @include flexCenter;
    }

    &-FormDiv {
        flex: 1;
        @include flexCenter;
        margin-bottom: 2em;
        //overflow: auto;
    }
}