@import '../../scss/variables';

.small {
    width: 3em;
    height: 3em;
}

.medium {
    width: 8em;
    height: 8em;
}

.big {
    width: 10em;
    height: 10em;
}

.huge {
    width: 15em;
    height: 15em;
}

.tiny {
    width: 2.5em;
    height: 2.5em;
}

.deg90 {
    transform: rotate(90deg);
}

.deg180 {
    transform: rotate(180deg);
}

.deg270 {
    transform: rotate(270deg);
}

.inverted {
    filter: invert(100%);
}


