@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.SelectFieldForm {
    width: 100%;
    padding: 1.5em;

    &-section {
        background-color: $color-tertiary-red;
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }

    &-sectionTitle {
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: .5em;
    }

    &-inlineInputDiv,
    &-inputDiv {
        margin-left: 2em;
    }
    
    &-inlineInputDiv {
        margin-top: .6em;
        display: flex;
        align-items: center;
    }

    &-labelText {
        font-size: 1.5em;
        font-weight: bold;
    }

    &-textInput {
        margin-top: .3em;
        width: 70%;
        font-size: 1.5em;
        padding: 2px;
    }

    &-selectInput,
    &-numberInput,
    &-colorInput {
        margin-left: .5em;
        font-size: 1.5em;
        padding: 2px;
    }

    &-selectInput,
    &-numberInput {
        width: 5.5em;
    }

    &-selectInput:hover,
    &-colorInput:hover {
        cursor: pointer;
    }

    &-buttonDiv {
        @include flexCenter;
        width: 100%;
        margin-top: 2em;
    }

    &-optionsContainer {
        margin-top: 1em;
        margin-left: 2em;
        min-height: 5em;
        max-height: 20em;
        overflow: auto;

        scrollbar-color: $color-primary-red black;
        scrollbar-width: thin;
    }

    &-optionsContainer::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: black;
    }

    &-optionsContainer::-webkit-scrollbar-thumb {
        background: $color-secondary-red;
    }

    &-optionsList {
        list-style: none;
    }

    &-optionsListElement {
        display: flex;
        align-items: center;
        margin-top: .5em;
    }

    &-optionsListElement p {
        font-size: 1.3em;
    }
}

.addOptionsButton {
    background-color: $color-secondary-red;
    border: 1px solid white;
    border-radius: $border-radius-basic;
    font-weight: bold;
    color: white;
    font-size: 2.3em;
    transition: all .2s;
    margin-left: .5em;
    height: 1.2em;
    width: 1.2em;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: translateY(.1em);
    }
}