@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.CheckBoxFieldForm {
    width: 100%;
    padding: 1.5em;

    &-section {
        background-color: $color-tertiary-red;
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }

    &-sectionTitle {
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: .5em;
    }

    &-inlineInputDiv,
    &-inputDiv {
        margin-left: 2em;
    }
    
    &-inlineInputDiv {
        margin-top: .6em;
        display: flex;
        align-items: center;
    }

    &-labelText {
        font-size: 1.5em;
        font-weight: bold;
    }

    &-textInput {
        margin-top: .3em;
        width: 70%;
        font-size: 1.5em;
        padding: 2px;
    }

    &-selectInput,
    &-numberInput,
    &-colorInput,
    &-optionsInput {
        margin-left: .5em;
        font-size: 1.5em;
        padding: 2px;
    }

    &-selectInput,
    &-optionsInput,
    &-numberInput {
        width: 5.5em;
        margin: 0 .5em;
    }

    &-numberInput {
        width: 3.5em;
    }

    &-selectInput:hover,
    &-colorInput:hover {
        cursor: pointer;
    }

    &-buttonDiv {
        @include flexCenter;
        width: 100%;
        margin-top: 2em;
    }
    
    &-errorMsg {
        font-size: 1.3em;
        padding: .5em 0 0 0;
        text-decoration: underline;
    }

    &-error {
        background-color: $color-red-light;
    }

    &-error:-webkit-autofill,
    &-error:-webkit-autofill:hover, 
    &-error:-webkit-autofill:focus, 
    &-error:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px $color-red-light inset !important;
        box-shadow: 0 0 0 30px $color-red-light inset !important;
        -webkit-text-fill-color: black !important;
    }
}