@import '../../../scss/mixins';
@import '../../../scss//variables';

.BackgroundForm {
    @include flexSpaceBetweenColumn;
    width: 100%;
    font-weight: bold;
    padding: 1.5em;

    &-section {
        background-color: $color-tertiary-red;
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }

    &-buttonDiv {
        margin-top: 1em;
    }

    &-inlineInputDiv {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: .6em;
        margin-left: 2em;
    }

    &-labelText {
        font-size: 1.5em;
    }

    &-colorInput {
        margin-left: .8em;
        font-family: inherit;
        &:hover {
            cursor: pointer;
        }
    }

    &-numberInput {
        margin: 0 .8em;
        font-family: inherit;
        width: 3.8em;
    }

    &-errorMsg {
        font-size: 1.3em;
        padding: .5em 0 0 0;
        text-decoration: underline;
    }

    &-error {
        background-color: $color-red-light;
    }

    &-error:-webkit-autofill,
    &-error:-webkit-autofill:hover, 
    &-error:-webkit-autofill:focus, 
    &-error:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px $color-red-light inset !important;
        box-shadow: 0 0 0 30px $color-red-light inset !important;
        -webkit-text-fill-color: black !important;
    }
}