@import '../../../scss/mixins';
@import '../../../scss//variables';

.FieldsForm {
    @include flexSpaceBetweenColumn;
    min-height: 12em;
    width: 100%;
    font-weight: bold;
    &-inputDiv {
        //@include flexCenterColumn;
        width: 80%;
        margin-bottom: 1.5em;
    }

    &-labelText {
        font-size: 1.5em;
        text-align: left;
    }

    &-input{
        width: 100%;
        font-size: 1.3em;
        padding: .3em;
        margin-top: 1em;
    }

    &-error {
        font-size: 1.1em;
        padding: .5em 0;
    }

    &-buttonDiv {
        margin-top: 1em;
    }

    &-button {
        font-family: inherit;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $color-primary-red;
        color: white;
        border: none;
        padding: .5em 1.5em;
        border-radius: $border-radius-basic;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(.1em);
        }
    }

    &-inlineInputDiv {
        width: 80%;
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;

        &:first-child {
            margin-bottom: 3em;
        }
    }

    &-colorInput,
    &-selectInput,
    &-numberInput {
        margin-left: .8em;
        font-family: inherit;
    }

    &-colorInput {
        &:hover {
            cursor: pointer;
        }
    }

    &-numberInput {
        width: 3em;
    }
}