@import '../../../scss/mixins';
@import '../../../scss//variables';

.TitleForm {
    @include flexSpaceBetweenColumn;
    min-height: 12em;
    width: 100%;
    font-weight: bold;
    padding: 1.5em;

    &-section {
        background-color: $color-tertiary-red;
        width: 100%;
        padding: 1em;
        border-radius: 5px;
        margin-bottom: 2em;
    }


    &-inputDiv {
        //@include flexCenterColumn;
        width: 80%;
        margin-top: .6em;
        margin-left: 2em;
    }

    &-labelText {
        font-size: 1.5em;
        text-align: left;
    }

    &-input{
        width: 100%;
        font-size: 1.3em;
        padding: .3em;
    }

    &-errorMsg {
        font-size: 1.3em;
        padding: .5em 0 0 0;
        margin-bottom: -0.5em;
        text-decoration: underline;
    }

    &-errorMsgInline {
        font-size: 1.3em;
        padding: .5em 0 0 0;
        text-decoration: underline;
    }

    &-error {
        background-color: $color-red-light;
    }

    &-error:-webkit-autofill,
    &-error:-webkit-autofill:hover, 
    &-error:-webkit-autofill:focus, 
    &-error:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px $color-red-light inset !important;
        box-shadow: 0 0 0 30px $color-red-light inset !important;
        -webkit-text-fill-color: black !important;
    }

    &-buttonDiv {
        margin-top: 1em;
    }

    &-button {
        font-family: inherit;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $color-primary-red;
        color: white;
        border: none;
        padding: .5em 1.5em;
        border-radius: $border-radius-basic;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(.1em);
        }
    }

    &-inlineInputDiv {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: .6em;
        margin-left: 2em;
    }

    &-colorInput,
    &-selectInput,
    &-numberInput {
        margin-left: .8em;
        font-family: inherit;
        margin-right: 0.5em;
        font-size: 1.5em;
        padding: 2px;
    }

    &-colorInput {
        &:hover {
            cursor: pointer;
        }
    }

    &-numberInput {
        width: 3.5em;
    }
}