@import '../../../scss/mixins';
@import '../../../scss/animations';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    @include flexCenter;

    animation-name: showModal;
    animation-duration: .8s;


    &-container {
        background-color: white;
        width: 50em;
        height: 65em;
        padding: 2em;
        border-radius: 5px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        position: relative;
    }

    &-title {
        font-size: 3em;
    }
}